.text_blocks_and_featured_in {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 73px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-bottom: 146px;
  }
  .background-circle {
    position: absolute;
    right: 0;
    bottom: 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  h2 {
    font-weight: 600;
  }
  h4 {
    @extend .font-600;
  }
  .blocks-wrapper {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      text-align: left;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 70px;
    }
    .leftside {
      padding-bottom: 15px;
      @include media-breakpoint-up(md) {
        width: 100%;
        padding-bottom: 0;
        max-width: 520px;
      }
    }
    .rightside {
      @include media-breakpoint-up(md) {
        padding-left: 40px;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 89px;
      }
    }
  }
  h4.h5 {
    @extend .font-600;
    text-transform: uppercase;
    display: inline-block;
    @include media-breakpoint-up(md) {

    }
    &:after {
      content: "";
      height: 3px;
      width: 100%;
      background: #e35f30;
      position: relative;
      top: 5px;
      display: block;
    }
  }
  .featured-logos {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .image-wrapper {
      padding: 0 0 20px;
      @include media-breakpoint-up(md) {
        padding: 0 15px;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.purple_section {
  background: #512848;
  position: relative;
  padding-top: 109px;
  .orange-block {
    position: absolute;
    left: 50%;
    width: auto;
    white-space: nowrap;
    background: #e35f30;
    color: #fff;
    display: flex;
    border-radius: 46px;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    padding-left: 25px;
    top: -31px;
    height: 62px;
    padding-right: 10px;
    box-shadow: 0 2px 40px rgba(0,0,0,0.2);
    @include media-breakpoint-up(md) {
      padding-left: 90px;
      top: -41px;
      height: 82px;
      padding-right: 62px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 180px;
      top: -46px;
      height: 92px;
      padding-right: 104px;
    }
    img {
      max-width: 50px;
      top: 4px;
      position: relative;
      @include media-breakpoint-up(md) {
        margin-left: 33px;
        max-width: 80px;
        top: 4px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 66px;
        max-width: 100%;
        top: 4px;
      }
    }
  }
  .background-image {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.76;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
  }
  h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 60px;
    }
  }
  .pull-out {
    margin-left: -15px;
    margin-right:  -15px;
  }
  .service-blocks {
    color: #fff;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
    .service-block {
      padding-bottom: 40px;
      @include media-breakpoint-up(md) {
        padding-bottom: 62px;
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: 121px;
      }
      .inner {
        @include media-breakpoint-up(md) {
          padding: 0 15px;
        }
      }
      .heading {
        display: flex;
        padding-bottom: 15px;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md) {
          justify-content: flex-start;
        }
        img {
          align-self: center;
          margin-right: 15px;
          max-width: 50px;
          @include media-breakpoint-up(md) {
            max-width: 60px;
          }
          @include media-breakpoint-up(lg) {
            max-width: none;
          }
        }
        h4 {
          text-align: left;
        }
      }
      a {
        margin-top: 15px;
      }
    }
  }
}

.trusted_slider {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 130px;
    padding-bottom: 170px;
  }
  h2 {
    @extend .font-600;
    margin-bottom: 0;
  }
  .stars {
    padding-bottom: 18px;
  }
  .inner-slider {
    .orange-text {
      color: $orange;
      @extend .font-600;
      font-size: 27px;
      line-height: 37px;
      margin-bottom: 18px;
    }
    .quote-text {
      max-width: 830px;
      margin: auto;
      font-style: italic;
      color: #333333;
      position: relative;
      margin-bottom: 75px;
      @extend .font-300;
      .quote-wrapper {
        @include media-breakpoint-up(md) {
          padding: 0 50px;
        }
      }
      .left-quote {
        position: absolute;
        top: -10px;
        left: 0;
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
      .right-quote {
        position: absolute;
        bottom: -10px;
        right: 0;
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
  .slider-nav {
    .slick-slide  {
      .nav-block {
        text-align: center;
        cursor: pointer;
        .image-wrapper {
          max-width: 152px;
          max-height: 152px;
          opacity: 0.35;
          margin: auto;
          border: solid 3px $orange;
          border-radius: 100%;
          margin-bottom: 18px;
          transition: all 300ms ease 200ms;
          @include media-breakpoint-up(md) {
            max-width: 98px;
            max-height: 98px;
          }
          img {
            border: solid 3px #fff;
            border-radius: 100%;
            transition: all 300ms ease;
          }
          &:hover {
            opacity: 0.5;
            transition: all 300ms ease;
          }
        }
        .profile-name {
          color: $orange;
          font-size: 22px;
          line-height: 30px;
          margin: 0;
        }
        .company-name {
          font-size: 18px;
          color: #333333;
          line-height: 25px;
        }
      }
      &.slick-current {
        .nav-block {
          text-align: center;
          padding: 0 10px;
          .image-wrapper {
            max-width: 152px;
            max-height: 152px;
            opacity: 1;
            transition: all 300ms ease 200ms;
          }
        }
      }
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px 0 0 0;
  li {
    list-style-type: none;
    button {
      background: #d3d3d3;
      height: 9px;
      width: 10px;
      border-radius: 100%;
      border: 0;
      font-size: 0;
      margin: 0 4px;
      display: block;
      padding: 0;
    }
    &.slick-active {
      button {
        background: $orange;
      }
    }
  }
}

.about_me_section {
  background: #F5F9FD;
  padding-top: 40px;
  position: relative;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
    padding-top: 80px;
  }
  h2 {
    margin-bottom: 22px;
    @extend .font-600;
  }
  h3 {
    @extend .font-600;
    margin-bottom: 13px;
  }
  .mobile-photo {
    display: block;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: none;
    }
    img {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  .button-wrapper {
    margin-bottom: 30px;
  }
  .follow-me {
    text-transform: uppercase;
    @extend .font-600;
    margin-bottom: 25px;
  }
  .social-links {
    padding-bottom: 40px;
    @include media-breakpoint-up(md) {
      padding-bottom: 80px;
    }
    a {
      margin-right: 8px;
      margin-left: 8px;
      opacity: 1;
      transition: opacity 300ms ease;
      @include media-breakpoint-up(md) {
        margin-right: 22px;
        margin-left: 0;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 56px;
      }
      &:hover {
        opacity: 0.5;
        transition: opacity 300ms ease;
      }
    }
  }
  .rightside-title {
    margin-bottom: 30px;
  }
  .white-box {
    background: #FFFFFF;
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.18);
    border-radius: 5px;
    padding: 25px 15px;
    margin-bottom: 30px;
    text-align: left;
    @include media-breakpoint-up(md) {
      padding:   35px 129px 25px 49px;
      margin-bottom: 0;
      max-width: 432px;
    }
    @include media-breakpoint-up(lg) {
      padding: 35px 49px;
    }
    @media only screen and (min-width: 1400px) {
      max-width: 592px;
    }
    .boxes {
      &:after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: #E35F30;
        margin-top: 15px;
        margin-bottom: 15px;
        @include media-breakpoint-up(md) {
          width: 70px;
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .tiny-text-desc {
    margin-bottom: 45px;
  }
  .gareth-photo {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    z-index: 2;
    max-width: 40%;
    display: none;
    @include media-breakpoint-up(md) {
      max-width: 35%;
      display: block;
    }
    @media only screen and (min-width: 1400px) {
      max-width: 30%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .purple-gareth-section {
    position: relative;
    background: #512848;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    @include media-breakpoint-up(md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .purple-box-wrapper {
      @include media-breakpoint-up(md) {
        display: flex;
      }
      .purple-wrapper {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md) {
          padding-right: 40%;
          flex-wrap: nowrap;
        }
        @include media-breakpoint-up(xl) {
          padding-right: 421px;
          flex-direction: row;
        }
        .purple-block {
          color: #fff;
          padding-left: 35px;
          position: relative;
          display: block;
          padding-right: 35px;
          &:after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            position: relative;
            left: 0;
            background: #577C70;
            margin-top: 15px;
            margin-bottom: 15px;
          }
          @include media-breakpoint-up(xl) {
            border-right: solid 1px #577C70;
            &:after {
              display: none;
            }
          }
          img {
            position: absolute;
            left: 13px;
            top: 5px;
            @include media-breakpoint-up(lg) {
              left: 19px;
              top: 0;
            }
          }
          &:last-child {
            @include media-breakpoint-up(xl) {
              padding-right: 0;
              border-right: solid 0 #577C70;
            }
          }
          &:first-child {
            //  padding-left: 0;

          }
        }
      }
    }
  }
}


.combining_technical {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  h2 {
    @extend .font-600;
    margin-bottom: 50px;
  }
  .description {
    margin-bottom: 30px;
  }
}

.contact_section {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #EAEEF2;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2 {
    @extend .font-600;
    margin-bottom: 20px;
  }
  h3 {
    max-width: 910px;
    margin: auto;
    margin-bottom: 20px;
  }
  .or {
    font-size: 27px;
    color: #333333;
  }
  .bottom-eail {
    color: $orange;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 25px;
    transition: color 300ms ease;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #222;
      transition: color 300ms ease;
    }
  }
  .bottom-phone {
    margin: auto;
    display: block;
    text-align: center;
    transition: color 300ms ease;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $orange;
      transition: color 300ms ease;
    }
  }
  .contact-background {
    position: absolute;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
