//sitewide header
.page-header {
  .tel-email-wrapper {
    position: relative;
    margin-top: 16px;
    margin-bottom: 21px;
    right: 0;
    text-align: right;
    color: #fff;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    .headermeail {
      font-size: 18px;
      color: $orange;
      line-height: 25px;
      transition: 300ms color ease;
      &:hover {
        color: #fff;
        transition: 300ms color ease;
      }
    }
    .headerphone {
      font-size: 18px;
      color: #FFFFFF;
      line-height: 25px;
      &:hover {
        color: $orange;
        transition: 300ms color ease;
      }
    }
  }
  .container {
    align-items: center;
    @include media-breakpoint-up(md) {
      align-items: flex-end;
    }
  }
}

//homepage header
.homepage-header {
  position: relative;
  @include media-breakpoint-up(md) {
    min-height: 1000px;
  }
  .darkgrey-overlay {
    background: rgba(0,0,0,0.6);
    z-index: 1;
  }
  .homepage-text {
    padding-top: 130px;
    padding-bottom: 130px;
    @include media-breakpoint-up(md) {
      padding-top: 221px;
      padding-bottom: 100px;
    }
    h1 {
      color: #fff;
      text-align: center;
      margin: 0 0 20px 0;
    }
    h2 {
      color: #fff;
      text-align: center;
      margin: 0 0 30px 0;
    }
  }
}


//stanrdard header
.standard-header {
  background: #272323;
  padding-bottom: 34px;
}

.header-logo {
  padding-top: 20px;
  width: 80%;
  img {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    padding-top: 0;
    width: auto;
    img {
      width: auto;
    }
  }
}




//fixed header
#header-menu {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      padding: 0;
      list-style-type: none;
      display: inline-block;
      position: relative;
      flex-shrink: 0;
      a {
        display: block;
        text-decoration: none;
        padding: 0 15px;
        margin: 0 5px;
        color: #fff;
        font-size: 22px;
        line-height: 30px;
        background: transparent;
        position: relative;
        transition: 300ms color ease;
        font-weight: normal;
        &:hover {
          text-decoration: none;
          color: $orange;
          transition: 300ms color ease;
        }
      }
      ul.sub-menu {
        display: none;
      }
      &:last-child {
        a {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }
  }
}
