h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.h1-hero,
h2.h1-hero {
  font-size: 36px;
  line-height: 48px;
  @include media-breakpoint-up(md) {
    font-size: 53px;
    line-height: 71px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 67px;
    line-height: 89px;
  }
}

h1,
.h1 {
  font-size: 30px;
  line-height: 40px;
  @include media-breakpoint-up(md) {
    font-size: 43px;
    line-height: 58px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 53px;
    line-height: 71px;
  }
}

h2,
.h2 {
  font-size: 25px;
  line-height: 34px;
  @include media-breakpoint-up(md) {
    font-size: 34px;
    line-height: 46px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 43px;
    line-height: 58px;
  }
}

h3,
.h3 {
  font-size: 21px;
  line-height: 29px;
  @include media-breakpoint-up(md) {
    font-size: 27px;
    line-height: 37px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 34px;
    line-height: 46px;
  }
}

h4,
.h4 {
  font-size: 17px;
  line-height: 24px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
    line-height: 30px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 27px;
    line-height: 37px;
  }
}

h5,
.h5 {
  font-size: 14px;
  line-height: 20px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 25px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 22px;
    line-height: 30px;
  }
}

h6,
.h6 {
  font-size: 14px;
  line-height: 19px;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 22px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 18px;
    line-height: 25px;
  }
}

.h7 {
  font-size: 11px;
  line-height: 16px;
  @include media-breakpoint-up(md) {
    font-size: 13px;
    line-height: 19px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 13px;
    line-height: 18px;
  }
}

.quote-text {
  font-size: 18px;
  line-height: 25px;
  @include media-breakpoint-up(lg) {
    font-size: 28px;
    line-height: 40px;
  }
}

b,
strong {
  @extend .font-600;
}

body {
  font-size: 18px;
  line-height: 25px;
  color: #222;
  font-family: 'HurmeGeometricSans4-Regular', sans-serif;
}
